.container {
    width: 100%;
    min-height: 300px;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: minmax(300px, 1fr);
    grid-template-rows: auto minmax(70vh, auto) auto;
}

header, nav {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}