.image-ferret {
    background-image: url(../img/image-ferret.jpg);
}

.the-scream {
    margin: 2em;
}

.image-the-scream {
    min-width: 12%;
    height: 22vh;
}

.the-scream p, .the-scream cite, .the-scream figcaption {
    color: firebrick;
}

.text-ipsun {
    letter-spacing: 2vw;
    text-shadow: 3px 2px 5px green;
}

.beverage-lists {
    width: 80%;
    margin: auto;
}

.beverage-lists ul, .beverage-lists ol, .beverage-lists dl{
    padding: 20px 25px;
    margin: 20px 0;
}

.beverage-lists li{
    padding: 5px;
}

.beverage-lists dt, .beverage-lists dd {
    padding: 5px;
}

.beverage-lists .ordered-list {
    list-style-type:upper-roman;
    background-image: linear-gradient(hsl(16, 100%, 66%), yellow);
}

.beverage-lists .ordered-list li {
    color: black;
    background-color: hsl(25, 100%, 50%);
    margin: 10px;
}

.beverage-lists .unordered-list {
    list-style-type: armenian;
    background-color: hsl(180, 100%, 30%);
}

.beverage-lists .unordered-list li {
    background: linear-gradient(to right, hsl(240, 70%, 50%), hsl(0, 70%, 50%));
    color: white;
}

.beverage-lists .descriptive-list {
    background: linear-gradient(to left, #d5f4e6, #86af49) ;
}

.beverage-lists .descriptive-list dt{
    background: linear-gradient(to left, #4040a1, hsl(24, 100%, 57%));
}

.beverage-lists .descriptive-list dd { 
    background: linear-gradient(to left, #d5f4e6, hsl(84, 41%, 49%));
}

.beverage-lists .nested-unordered-list {
    background: linear-gradient(to top left, blue, orange);
}

.beverage-lists  .nested-unordered-list ul{
    margin: 0;
    padding: 15px;
  }

.beverage-lists .nested-unordered-list li{
    background: linear-gradient(to top left, hsl(39, 80%, 50%), hsl(0, 80%, 50%));
    color: black;
}


.beverage-lists .ordered-list:active {
    transform: scale(1.1);
}

.beverage-lists .unordered-list:active {
    transform: scale(1.1);
}

.beverage-lists .descriptive-list:active {
    transform: scale(1.1);
}

.beverage-lists .nested-unordered-list:active{
    transform: scale(1.1);
}


.linear-gradient{
    margin: 2vmax 0px 2vmax 0px;
    width: 100%;
    height: 5em;
    background: repeating-linear-gradient(45deg, 
        red 0%,
        black 35%,
        blue 65%,
        green 100%
    );
}

.linear-gradient:active{
    transform: skewX(40deg);
}

.repeating-linear-gradient{
    margin: 2vmax 0px 2vmax 0px;
    width: 100%;
    height: 5em;
    background: repeating-linear-gradient(45deg, 
        red 0px,
        black 40px,
        white 40px,
        blue 80px
    )
}

.repeating-linear-gradient:active{
    transform: rotate(10deg);
}



