.image-bird {
    background-image: url(../img/image-bird.jpg);
}

.animated-square{
    margin: 1rem;
    width: 100px;
    height: 100px;
    background-color: green;
    position: relative;
    animation-name: animation-square;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.animated-circle {
    width: 100px;
    height: 100px;
    background-color: white;
    margin: 1rem;
    border-radius: 50px;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    position: relative;
    animation-name: animation-circle;
    animation-direction: alternate-reverse;
}

@keyframes animation-square{
    0%{background-color: white; left:5vw; top:5vh;}
    25%{background-color: blue; transform: rotate(20deg); left:50vw; top:5vh;}
    50%{background-color: yellow; transform: rotate(360deg); left:50vw; top:20vh;}
    75%{background-color: green; transform: rotate(20deg); left:5vh; top:20vh;}
    100%{background-color: white; left:5vw; top:5vh;}
}

@keyframes animation-circle {
    0%{top: 5vh; left: 5vw;}
    25%{top: 10vh; left: 10vw;}
    50%{background-color: red; top: 20vh; left: 15vw;}
    75%{top: 30vh; left: 20vw;}
    100%{top: 40vh; left: 25vw;}
}

