@import url('https://fonts.googleapis.com/css?family=Asap:700&display=swap');

.nav {
  position: sticky;

  .menu {
    list-style-type: none;
    overflow: hidden;
    background-color: hsl(280, 96%, 11%);

    &__item {
      float: left;
      display: block;
      font-family: 'Asap', sans-serif;
      font-size: 1.2em;
      cursor: pointer;
    }

    &__link {
      display: block;
      color: white;
      text-align: center;
      padding: 18px 25px;
      text-decoration: none;

      &:hover {
        background-color: hsl(127, 60%, 50%);
        color: black;
      }
    }
  }
}
