.nav {
  position: sticky;

  .menu {
    list-style-type: none;
    overflow: hidden;
    background-color: hsl(280, 96%, 11%);

    &__item {
      float: left;
      display: block;
      color: white;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 1em;
      cursor: pointer;
    }

    &__link {
      display: block;
      color: white;
      text-align: center;
      padding: 16px;
      text-decoration: none;

      &:hover {
        background-color: hsl(127, 60%, 50%);
        color: black;
      }
    }
  }
}
